.navbar{
    background-color:#7b0557ea;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: sticky;
    font-weight: 200px;
    font: 300 11px/1.4 'Helvetica Neue', sans-serif;
    

    &__container{
        display: flex;
        align-items: center;
        width: 100%;
        height: inherit;
        padding: 0px 20px ;
    
        flex: 1;
        &__logo{
        cursor: pointer;
        border-radius: 50%;
        -webkit-transition: -webkit-transform .8s ease-in-out;
        transition:  transform .8s ease-in-out;
            &:hover{
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
                }
        }

        &__menu{
            display: flex;
            list-style: none;
            text-align: center;

            &__item{
                line-height: 40px;
                margin-right: 1.5rem;
                font-size: 1.6rem;

                &::after{
                    content: '';
                    display: block;
                    height: 3px;
                    width: 0;
                    background: transparent;
                    transition: all 0.5s ease;
                }

                &:hover::after{
                    width: 100%;
                    background:#ffd700 ;
                    
                    
                }

                &__links{
                    color: #f006aaea ;
                    text-decoration: none;
                    padding: 0.5rem;
                
                &:hover{
                    color: var(--yellow-theme-main-color);
                }
            }
                
            }
        }
    }
}

.nav-icon{
    display: none;
}

.logo{
    display: block;
    width: 25%;
    height: auto;
    margin-top: 15px;
}

@media only screen and (max-width : 768px){
    .navbar{
        z-index: 1;
    
    .navbar__container__menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -110%;
        transition: all 0.5s ease;
        opacity: 1;

       
        

        &.active{
            background: #181818;
            left: 0px;
            opacity: 1;
          
            
            
        }

        &__item{
            border-bottom: 1px solid #282828;
            margin: 0px;
            padding: 20px 0px; 
       
            
            
            
        }
}

    .nav-icon{
        display: block;
        cursor: pointer;
        color: var(--yellow-theme-main-color);
        padding-right: 20px;
    }
}
}
